<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlphaBot</title>
	<link href="/bootstrap.min.css" rel="stylesheet" media="screen">
	<script src="/jquery.min.js"></script>
	<script src="/bootstrap.min.js"></script>
    <script> 
		
        $(function(){
            $("button").bind( "mousedown",function(){
                $.post("/cmd",{cmd: this.id, speed: $("#speed").val()},function(data,status){
                });
            });

			$("button").bind( "mouseup, mouseleave",function(){
                $.post("/cmd",{cmd:"stop"},function(data,status){
                });
            }); 

			$( "#speed" ).change( function() { $('#speed_desc').html( $("#speed").val() ) } )
        });
		
    </script>

	<style type="text/css">
		button {
			margin: 10px 15px 10px 15px;
			width: 50px;
			height: 50px;
		}
		input {
			margin: 10px 15px 10px 15px;
			width: 50px;
			height: 50px;
		}
    </style>
	
</head>
<body>
<div id="container" class="container text-center" >
	<h4>AlphaBot Control v1.0</h4>

	<center>
		<img src="{{ url_for('video_feed') }}" />
		<br/><br/>
		<table class="text-center" >
			<thead>
				<tr>
					<td colspan="100%">
						<h4>Motor Control</h4>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>&nbsp;</td>
					<td>
						<button id="forward" class="btn btn-lg btn-primary">&uuarr;</button>
					</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>
						<button id='turnleft' class="btn btn-lg btn-primary">&llarr;</button>
					</td>
					<td>
						<button id='stop' class="btn btn-sm btn-primary">Stop</button>
					</td>
					<td>
						<button id='turnright' class="btn btn-lg btn-primary">&rrarr;</button>
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>
						<button id='backward' class="btn btn-lg btn-primary">&ddarr;</button>
					</td>
					<td>&nbsp;</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="100%">
						<br/>
						<h4>Speed : <span id="speed_desc">50</span></h4>
						<input id="speed" type="range" class="form-label" min="20" max="100", value="50" style="margin:-10px; width:300px;"  >
					</td>
				</tr>
			</tfoot>
		</table>
	</center>
</div>
</body>
</html>
